@model connectify.Models.Group

@{
    ViewBag.Title = "Show";
}

<div class="card">
    <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">
        <a href="/Groups/Index" class="btn btn-dark">Return to all groups</a>
    </div>

    @Html.Partial("GroupInfo", Model)
    <div class="card-footer"><i class="bi bi-person"></i>Owner: <strong>@ViewBag.Owner.FirstName @ViewBag.Owner.LastName</strong></div>
    <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">
        @if (!ViewBag.IsOwner) {
            @if (ViewBag.IsMember)
            {
                <form method="post" action="/Groups/Leave/@Model.Id">
                    <button class="btn btn-danger" type="submit">Leave group</button>
                </form>
            }
            else {
                <form method="post" action="/Groups/Join/@Model.Id">
                    <button class="btn btn-primary" type="submit">Join group</button>
                </form>
            }
        }
        @if (ViewBag.AfisareButoane == true || Model.OwnerId == ViewBag.UserCurent || ViewBag.EsteAdmin)
        {

            <a class="btn btn-primary" href="/Groups/Edit/@Model.Id">Edit group</a>

            <form method="post" action="/Groups/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit">Delete group</button>

            </form>

        }
    </div>

</div>

@if (ViewBag.IsMember == true || ViewBag.IsOwner == true) {
    <p class="h1" style="text-align: center">Chat history</p>
    @foreach (var msg in Model.Messages)
    {
        if (msg.UserId == ViewBag.UserCurent)
        {
            <div class="container msg-container right">
                <div class="row">
                    
                    

                        <div class="message">

                            <p>@msg.Content</p>
                    </div>
                            @{
                                var currentDate = DateTime.Now;
                                var timeDifference = currentDate - msg.Date;

                                if (timeDifference.TotalSeconds < 60)
                                {
                                    <small>@string.Format("Just now")</small>
                                }
                                else if (timeDifference.TotalMinutes < 60)
                                {
                                    <small>@string.Format("{0} min ago", timeDifference.Minutes)</small>
                                }
                                else if (timeDifference.TotalHours < 24)
                                {
                                    <small>@string.Format("{0} h ago", timeDifference.Hours)</small>
                                }
                                else
                                {
                                    <small>@msg.Date.ToString("dd MMMM yyyy")</small>
                                }
                            }
                            <strong><i class="bi bi-person"></i>@msg.User.FirstName</strong>

                        
                        <br>


                        @if (msg.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                        {

                        <div class="d-flex">
                            <div>
                                <a class="btn btn-sm btn-outline-primary" href="/Messages/Edit/@msg.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
                            </div>
                            <form method="post" action="/Messages/Delete/@msg.Id">
                                <button class="btn btn-sm btn-outline-danger" type="submit">
                                    <i class="bi bi-trash"></i>Sterge
                                </button>
                            </form>
                        </div>
                        }

                    <br />


        </div>
        </div>
        }
        else {
            <div class="container msg-container left">
                <div class="row">



                    <div class="message">

                        <p>@msg.Content</p>
                    </div>
                        @{
                            var currentDate = DateTime.Now;
                            var timeDifference = currentDate - msg.Date;

                            if (timeDifference.TotalSeconds < 60)
                            {
                                <small>@string.Format("Just now")</small>
                            }
                            else if (timeDifference.TotalMinutes < 60)
                            {
                                <small>@string.Format("{0} min ago", timeDifference.Minutes)</small>
                            }
                            else if (timeDifference.TotalHours < 24)
                            {
                                <small>@string.Format("{0} h ago", timeDifference.Hours)</small>
                            }
                            else
                            {
                                <small>@msg.Date.ToString("dd MMMM yyyy")</small>
                            }
                        }
                        <strong><i class="bi bi-person"></i>@msg.User.FirstName</strong>

                    
                    <br>


                    @if (msg.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                    {

                        <div class="d-flex">

                            <div>

                                <a class="btn btn-outline-primary" href="/Messages/Edit/@msg.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                            </div>

                            <div>

                                <form method="post" action="/Messages/Delete/@msg.Id">

                                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                                </form>

                            </div>

                        </div>
                    }

                    <br />


                </div>
            </div>
        }
    }


    @* Afisarea formularului in care se poate adauga un mesaj *@

    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" action="/Groups/Show/@Model.Id">

                        <div class="card-body">

                            <input type="hidden" name="GroupId" value="@Model.Id" />

                            <label>Continut mesaj</label>
                            <br />

                            <textarea class="form-control" name="Content"></textarea>

                            @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                            <br /><br />

                            <button class="btn btn-primary " type="submit">Trimite mesaj</button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}