@model connectify.Models.Post

@{
    ViewBag.Title = "Index";
}

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search users" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

<div class="d-flex justify-content-center">
    <h2 class="mx-auto">Posts on Connectify</h2>
</div>
<br />

<a href="/Posts/New" class="btn btn-primary">Create new post</a>
<br /><br />
@foreach (connectify.Models.Post post in ViewBag.Posts) {
    <div class="card">
        @Html.Partial("PostInfo", post)
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">
            <a href="/Posts/Show/@post.Id" class="btn btn-primary">Read more</a>
        </div>
    </div>
    <br />
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>